{% extends 'base.html' %} 
{% load static %}
{% block content %}
<div class="product-card">
    <img class="product-img" src="{% static 'imgs/shoes-img3.png' %}" alt="Product Image">
    <div class="product-details">
      <h2 class="product-title">Men's Running Shoes</h2>
      <p class="product-price">$99.99</p>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut consectetur dolor.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
  <div class="product-card">
    <img class="product-img" src="{% static 'imgs/shoes-img1.png' %}" alt="Product Image">
    <div class="product-details">
      <h2 class="product-title">Men's Running Shoes</h2>
      <p class="product-price">$99.99</p>
      <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut consectetur dolor.</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
  
{% endblock %}
