{% extends "base.html" %} 
{% block title %} Products {% endblock title %} 
{% block content %} 
{% for product in products%}
<a href="{{product.get_absolute_url}}">
  <div class="product-card">
    <img class="product-img" src="{{product.image.url}}" alt="Product Image" />
    <div class="product-details">
      <h2 class="product-title">{{product.name}}</h2>
      <p class="product-price">${{product.price}}</p>
      <p class="product-description">{{product.description}}</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
</a>

{% endfor %} 
{% endblock content %}
